/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
/* https://fonts.google.com/specimen/Montserrat?query=Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;600&display=swap');
/* npm i bootstrap-icons */
@import url("~bootstrap-icons/font/bootstrap-icons.css");

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-purple {
    min-width: 100%;
    height: 232px;
    background-color: #5D63D1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 0 0 16px 16px;
}

.prog-holder {
    background: #FFFFFF;
    border: 3px solid rgba(93, 99, 209, 0.1);
    box-shadow: 0px 4px 28px rgba(46, 49, 118, 0.1);
    border-radius: 16px;
    padding: 30px 20px;
}

.profile-dtl {}

.profile-dtl .img-hldr {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-dtl .img-hldr img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profile-dtl .desc-hldr {
    /* white-space: nowrap; */
    color: #fff;
    font-size: 14px;
}

.profile-dtl .desc-hldr h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0px;
    letter-spacing: 0.01em;
}

.profile-dtl .desc-hldr p {
    font-size: 11px;
    letter-spacing: 0.01em;
}

.total-btn {
    background-color: #5D63D1;
    padding: 20px;
    border-radius: 100px;
    align-items: center;
    color: #F3F7FF;
}

.total-btn .total-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #F3F7FF;
}

.goal-title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.01em;
}

.goal-title strong {
    color: #5D63D1;
}

.progress-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #333333;
}

.progress {
    --bs-progress-height: 8px;
}

.progress-bar {
    background-color: #5D63D1;
}

.activity-hldr {
    background: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(46, 49, 118, 0.1);
    border-radius: 16px;
    padding: 20px;
}

.activity-card {
    position: relative;
    padding: 20px 0;
}

.activity-card::after {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .1);
}

.activity-card .img-hldr {
    width: 70px;
    height: 70px;
    border-radius: 12px;
}

.activity-card .desc-hldr p {
    font-size: 11px;
    margin-bottom: 6px;
}

.activity-card .desc-hldr strong {
    font-size: 14px;
}

.activity-btn {
    text-align: right;
}

.activity-btn button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.main-foot-adjust {
    padding-bottom: 80px;
}

.footer {
    position: fixed;
    bottom: 10px;
    /* background-color: red; */
    left: 0;
    right: 0;
    margin: auto;
}

.footer-nav {
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(46, 49, 118, 0.1);
    border-radius: 16px;
    color: #BFC2C8;
}